@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    margin-bottom: 32px;
}



.recipe-link-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    bottom: 0px;
    background-color: rgb(85, 163, 98);
    color: black;
    width: 100%;
    height: 24px;
    font-size: 20px;
}

img {
    height: 200px;
}

h1 {
    color: rgb(6, 59, 6);
    font-size: 40px;
    font-weight: 700;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(240, 106, 58);
    color: white;
}

nav > a {
    color: antiquewhite;
}

a{
    outline: none;
    text-decoration: none;
}

a:hover{
    color:chartreuse;
    border-bottom: none;
}

table,
td {
    border: 2px solid black;
}

tr:nth-child(even){
    background-color: grey;
}
